.page{
    height: 100%;
    width: 100%;
    background: white;
}

.container{
    width: 100%;
    height: 100%;
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.top_container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card{
    display: flex;
    align-items: center;
    gap: 25px;
}

.icon{
    font-size: 80px;
}

.text_top{
    font-size: 25px;
}

.main_container{
    display: flex;
    gap: 20px;
}

.left_container{
    width: 50%;
    height: auto;
}

.right_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card_left{
    background: #f6f6f6;
    border-radius: 0;
    height: 100%;
    padding: 30px;
}

.label{
    background: white;
    width: 240px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 50px;
}

.label_text{
    font-size: 35px;
}

.label_text span{
    font-weight: bold;
}

.title{
    margin: 0 !important;
    font-size: 70px !important;
}

.item_text {
    display: block;
    font-size: 24px;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
    width: 200px;
}

.description {
    display: block;
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
}

.card_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card_right{
    background: #f6f6f6;
    border-radius: 0;
    height: 100%;
    padding: 30px;
}

.img_accessories{
    position: absolute;
    width: 500px !important;
    bottom: 0% ;
    right: 0%;
}

.img_men{
    position: absolute;
    width: 515px !important;
    bottom: 0% ;
    right: 0%;
}

.img_women{
    position: absolute;
    width: 630px !important;
    bottom: 0%;
    right: 0%;
}


@media (max-width: 720px){

    .container{
        padding: 40px 20px;
        gap: 40px;
    }

    .top_container{
        flex-direction: column;
        gap: 20px;
    }

    .card{
        gap: 15px;
    }

    .icon{
        font-size: 40px;
    }

    .text_top{
        font-size: 18px;
    }

    .main_container{
        flex-direction: column;
    }

    .left_container,
    .right_container{
        width: 100%;
    }

    .right_container{
        gap: 15px;
    }

    .card_left,
    .card_right{
        padding: 20px;
    }

    .card_container{
        gap: 20px;
    }

    .label{
        width: fit-content;
        padding: 8px 16px;
    }

    .label_text{
        font-size: 22px;
    }

    .title{
        font-size: 36px !important;
    }

    .item_text{
        font-size: 18px;
        width: auto;
    }

    .description{
        font-size: 18px;
    }

    .img_men{
        display: none !important;
    }


    .img_women{
        position: absolute;
        width: 200px !important;
        bottom: 0%;
        right: 0%;
    }

    .img_accessories{
        width: 250px !important;
    }
}